a {

  text-decoration: none;
}

body {

  margin: 0;
  padding: 0;

}

h1 {

  text-align: center;
}

nav {
  text-align: center;
  padding: 20px;
}

ul {

  list-style: none;
}

.menu li {

  display: inline;
  margin-right: 18px;
}

.content-foto {

  display: block;
  text-align: center;

}